{% include "header.html" %}

<div class="container text-white">
    <div class="row">
        <div class="col-3">
            <div class="d-flex">
                Games
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                church
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                family
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex">
                reading
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}